.main {
  margin: 53px 88px;
}

.head-title {
  display: none;
}

.images-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 460px;
  border: 1px solid var(--border-color);
}

.price {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  padding: 10px;
  font-size: 14px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  width: 100px;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20 15;
}

.image {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.image-buttons {
  position: absolute;
  top: 50%;
  right: 22px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(1px) saturate(0%);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: none;
  border: none;
  cursor: pointer;

  span {
    margin-top: 2px;
    font-size: 16px;
    color: white;
  }
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }

  .liked {
    animation: pop 0.3s ease;
  }
}

.send-icon {
  color: white;
}

.liked {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 6px;
}

.card-title {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: default;
}

.author {
  font-size: 16px;
  span {
    color: #c2c2bd;
  }
}

@media (max-width: 600px) {
  .main {
    margin: 28px 31px;
  }

  .card {
    width: 328px;
    height: 509px;
  }

  .image {
    width: 100%;
    height: 350px;
  }

  .info-container {
    height: 100px;
  }

  .card-title {
    white-space: normal;
    display: -webkit-box;
    text-align: center;
    font-size: clamp(18px, 5vw, 28px);
  }

  .author {
    font-size: 16px;
  }

  .image-buttons {
    position: static;
    height: 59px;
    transform: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    gap: 0;
  }

  .button {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 1px solid var(--border-color);

    span {
      color: black;
      margin-left: 6px;
    }

    :hover {
      transform: none;
    }
  }

  .send-icon {
    color: black;
  }
}
